@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" ng-controller="App.Beer.HomeController">
    <h1>TypeScript Test</h1>

    <button class="btn btn-info" ng-click="events.changeMessage()">{{message}}</button>

</div>